:host {
  display: block;
}

.grid {
  --bs-columns: 8;
}

.card {
  max-width: 180px;
  cursor: pointer;

  &:focus {
    outline: 2px solid #007bff; /* Add a focus outline */
    outline-offset: 2px;
  }
  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 5px;
      background-color: grey;
      opacity: 0.1;
      z-index: 1;
    }
  }

  &.selected {
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.4); /* Pressed inset shadow */
    transform: translateY(
      2px
    ); /* Slight downward movement to emphasize press */

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 5px;
      background-color: black;
      opacity: 0.2;
      z-index: 1;
    }
  }

  &.coming-soon {
    position: relative;
    &:focus {
      outline: none;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 5px;
      background-color: black;
      opacity: 0.5;
      z-index: 1;
    }

    &::after {
      content: "COMING SOON";
      text-transform: uppercase;
      color: #ff0000;
      font-size: 1.5rem;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      white-space: nowrap;
      padding: 0;
      margin: 0;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-45deg); /* Centers and rotates the text */
      z-index: 2; /* Ensures the text is above the overlay */
      width: 100%; /* Full width of the card */
      height: 100%; /* Full height of the card */
      background-color: transparent;
      pointer-events: none; /* Prevents the pseudo-elements from blocking clicks */
    }

    &:hover {
      cursor: not-allowed; /* Optional: Indicate that the card is not interactive */
    }
  }
}
