<div class="sidenav-container bg-light" [style.top.px]="sidenavTop">
  <div class="mx-auto grid p-1 sidenav-contents">
    <app-card-button
      title="Play with friend"
      [isComingSoon]="true"
      [logoURI]="difficultyImagePath.BASIC"
    ></app-card-button>
    <app-card-button
      title="Play with AI"
      [isComingSoon]="true"
      [logoURI]="difficultyImagePath.BASIC"
    ></app-card-button>
    <app-card-button
      title="Puzzle"
      [logoURI]="difficultyImagePath.BASIC"
    ></app-card-button>
  </div>
</div>
