:host {
  display: block;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Content container styling */
.content-container {
  margin-left: 200px; /* Leaves space for the fixed sidenav */
  /* The height of this area is independent of sidenav and navbar */
}

/* Utility for Bootstrap classes */
.main-layout {
  display: block;
  overflow: auto;
}
