:host {
  display: block;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Content container styling */
.content-container {
  /* The height of this area is independent of sidenav and navbar */
}

.main-layout {
  display: grid;
  grid-template-columns: 220px auto;
}

.main-layout > app-home-page-sidenav {
  flex: 0 0 220px; /* Fixed width for the sidebar */
}
